.product__list {
  display: flex;
  justify-content: space-around;
}

.product__item {
  text-align: center;

}

.product__image {
  border: 1px solid black;
  border-radius: 20px;
}

.product__name {
  font-size: 30px;
}