.country {
  border: 1px solid orange;
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: inline-block;
  min-width: 200px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.country__item {
  border-bottom: 1px solid orange;
}

.country__item:last-child {
  border-bottom: 0;
}

.country__text {
  display: block;
  color: white;
  background-color: orange;
  padding: 6px 10px;
}

.country__sub {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country__sub-item {
  border-bottom: 1px solid orange;
  padding: 6px 10px;
}