* {
  box-sizing: border-box;
}

.box {
  background-color: aquamarine;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 50px 30px;
  text-align: center;
}

.box--border {
  border: 3px solid black;
}

.box--active {
  background-color: greenyellow;
}

.box--noactive {
  background-color: red;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main .box:nth-child(2) {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.input--active {
  background-color: greenyellow;
}